*{
padding: 0;
margin: 0;
box-sizing: border-box;

}

body{
  background-image: url("temp-images/background2.jpg");
background-attachment: fixed;
background-position: center;
background-size: cover;

}

/*this part is reperseent the section that welcome users */

Section{
  padding:1%;
  margin:1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*this part is related to welcome a user by his name also the link of log-out page */


#welcome{
           /* if i put it as inline flex it won't make element move since it make it   take the actual size of the content without added any extra space*/
            /* the flex direction row  is reserved the  full space of the row   */
           display:flex;
         flex-direction: row;
         justify-content: space-between;
         background-color: #C4BAAB;
          padding:2%;
         border-radius: 0.5vw;
    }

/* this part is going to show all the content that has class name in the web as italic  */
    .name{
      font-style:oblique;
    }
/* apply style in log-out link */
#welcome a{
color:black;
font-size: 1em;
font-weight: bold;

}

/*apply css style on the user infoBox */

#userInfoBox{
        margin-top:1%;
        background-color: #d5c5bb;
        padding: 0.5% 4%;
        border-radius: 1vw;

  }
/* this part is decorate the fixed part in user info box */
  #userInfoBox li{
font-size: 1.0em;
font-weight: bold;
list-style: none;
letter-spacing: 0.5px;
color: rgb(57, 56, 56);

  }

/***************************************/
/* this part is to style the  tables */



/* i switch the statment so the border will cover only the cell has data */
td,th{
  border: 1px black solid;
 
}
th{
  background-color: #d0baa0;
  font-size: 1.3em;
  padding: 0.7% 0%;
  width: 20vw;
}
 td{
  background-color: #e2dcd7;
  font-size: 1.2em;
  font-weight: 450;
  width: 20vw;
  padding: 0.5% 0%;

}


table{
  border-collapse:collapse;
}


/* ************apply the same style in each secton */

#interiordesignPart,#ConsultaionPart{
  padding: 2%;
  overflow: auto;
  display: flex;
  flex-direction: column;
text-align: center;
width:100vw;
text-wrap: wrap;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}
/* format table 1 */
#tableHeadr-1{
width:70vw;
display: flex;
justify-content: space-between;
}

/* this part is used to align the header above the table */
#interiorFilter {
font-size: 1.5em;
font-weight: 600;
display: flex;
}
/* this part is used to align the menue and the button next to it */
#interiorFilter #Filter , #interiorFilter select{
padding: 1.1% 0%;
font-size: 0.7em;
text-align: center;
display: flex;
justify-content: flex-start;

}

/* the size of the table */
.table1{
  width:70vw;
  }
/* **********format table 2 */
  #ConsultaionPart h2{
   display:flex;
    justify-content: flex-start;
    width:72vw;
  }
  .Table2{
max-width: 73vw;
min-width: 20vw;  }

/* to customize the size of image inside the table */

 img{
        max-width: 35%;
        overflow:auto;

    }

/*  
#allDesigner th{
  /* background-color: #CD876A; *
  font-weight: 50px;
}
*/

/* 
 .table1 ,  td {
  padding: 1% 0%;
  max-width: 70%;
  font-size:1.3em;
  min-width:40%;

}
 */



/* this part is to customize the shape of interiorFilter part 
#DropDownMenue {
font-size: 1.1em;
font-weight: 600;
}


/* **********format table 2 
#ConsultaionPart{
  display: flex;
  flex-direction: column;  
  align-items: center;
  text-align:justify;
}


 
.secondTable  {
  padding: 1% 0%;
  max-width: 70%;
  font-size:1.3em;
  min-width:0%;

}



 */



    /******will be deleted!!!!!!!!!!!!!!!!!!!!!!!!*****/
   
    /**/