/*body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	background-image: url("formBackground.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size:cover;
}
  
main>body {
	  min-height: 100vh;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  padding: 20px;
  }
  body{
    background-image: url("formBackground.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
  }

 div.container {
  background: repeat;
  background-color: white;
  max-width: 40%;
}

div.transbox {
	max-width: 60%;
	width: 80%;
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.9;
}

  main{
    display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: calc(100vh - 100px); 
  text-align: left;
  }
  
  
.container {
	max-width: 60%;
	width: 80%;
	background-color: white;
	box-shadow:  0 0 20px 0 #999;
	position: relative;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 60px;
	overflow: hidden;
}

.transbox{
	box-sizing: border-box;
	position: relative;
}


.container h1 {
    font-size: 1.5rem;
    color: #8A9A5B;
    font-weight: bold;
    text-align: center;
    padding: 20px 10px;
    box-shadow: 0 0 15px rgba(41, 41, 41, 0.1);
}
.projectname{
	margin-bottom: 1.5em;
}

.uploadimage{
	margin-bottom: 1.5em;
}

.select-box{
	margin-bottom: 1.5em;
}

.container h3 {
    font-size: 1rem;
    color: #8A9A5B;
    font-weight: 500;
    text-align:left ;
    padding-bottom: 5px;
    padding-top: 30px;
}

textarea{
	width: 400px;
	height:150px ;
	margin-top: 5px;
	padding-top: 10px;
	padding-left: 10px;
	border: 1px solid #ffffff;
	border-radius: 2px;
	outline: none;
	background-color: #fff8d7;
}

.select-box select{
    width: 400px;
    height:40px ;
    padding-left: 10px;
    border: 1px solid #ffffff;
    background-color: #fff8d7;
    border-radius: 2px;
    outline: none;
}


.form input[type="submit"] {
    display: block;
    margin: auto;
    height: 55px;
    width: 30%;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    background: #8A9A5B;
 }
 
.form input[type="submit"]:hover {
    background: #FAF0DC;
    color: #CAAD7E;
}
  
.form input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: #fff8d7;
  border: 1px solid #ffffff;
  color: white;
}



.transbox{
	box-sizing: border-box;
	position: relative;
}

*/


*{
	padding:0%;
	margin:0%;
	box-sizing: border-box;
}

body{
	background-image: url("image/formBackground.jpg");
	background-attachment: fixed;
	background-position: center;
	background-size:cover;
	background-repeat: no-repeat;
}

.container{
	background-color: white;
	opacity:0.97;
	width:40vw;/*95%*/
	height:50vh;
	padding:35px 50px;
	transform:translate(-50%,-50%);
	position:absolute;
	left:50%;
	top:50%;
	border-radius:10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 0 0 20px rgba(41, 41, 41, 0.25);
}
/*
.container {
	max-width: 60%;
	width: 80%;
	background-color: white;
	box-shadow:  0 0 20px 0 #999;
	position: relative;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 60px;
	overflow: hidden;
}
*/
form{
	width:100%;
	position:relative;
	margin:30px auto 0 auto;
}


label, option{
	color:#8A9A5B;
	font-size:14px;
}

textarea, input,select,select#DesignSelect{
	width:100%;
	font-weight:400;
	padding:10px 10px;
	border-radius:5px;
	border:1.2px solid #c4cae0;
	margin-top:5px;
	background-color: #F5EBE0;
	color:gray;
}

textarea{
	resize:none;
}

textarea:focus, input:focus{
	outline:none;
	border-color:#8A9A5B;
}


.form input[type="submit"] {
	background: #8A9A5B;
	color: #ffffff;
	display: block;
    margin: auto;
    height: 55px;
    width: 30%;
    font-size: 1rem;
    border: none;
	border-radius:6px;
}

.form input[type="submit"]:hover {
    background: #FAF0DC;
    color: #CAAD7E;
	display: block;
    margin: auto;
    height: 55px;
    width: 30%;
    font-size: 1rem;
    border: none;
	border-radius:6px;
}

h1{
    font-weight: bold;
    text-align: center;
	font-size: 1.5rem;
    color: #8A9A5B;
    padding: 15px 25px;
    box-shadow: 0 0 20px rgba(41, 41, 41, 0.25);
	border-radius:6px;
}

