body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
	background-image: url('image/background1.jpg');
   

}

.container {
    width: 35%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ddd;
    border-radius: 10px;
	background-color: rgba(245, 245, 220, 0.7); /* Beige color with transparency */
	
	
}

h2 {
    text-align: center;
    color: gray;
}

.client-info {
    margin-bottom: 20px;
	color:GRAY;
}

.client-info p {
    margin: 5px 0;
}

hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

form {
    width: 70%;
    margin: 20px auto;
	background-color: rgba(245, 245, 220, 0.7); /* Beige color with transparency */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

textarea,
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color:#99BC85;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color:#D4E7C5;
}