body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
	background-image: url('background3.jpg');
	
}

h2 {
    text-align: center;
    color:white;
}

form {
    width: 50%;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color:beige;
	
	 background-color: rgba(245, 245, 220, 0.8); /* Beige color with transparency */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

select,
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color:#99BC85;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
	justify-content:center;
}

button:hover {
 background-color:#D4E7C5;
}