*{
  padding:0%;
  margin:0%;
  box-sizing: border-box;
}


body{
  padding:0%;
  margin:0%;
background-image:url("temp-images/formBackground.jpg") ;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment:fixed;

}


 section{
  padding:7% ;
 
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
 }
  
form{
  display: flex;
  flex-direction: column;
  background-color: #b8ae99bd;
  border-radius: 3%;
  box-shadow: 10px 10px 20px 5px #959593d0;
width: 55vw;
height: 50vh;
justify-content: space-between;
overflow: auto;

}
h1{
  background-color: #4f6a2375;
  text-align: center;
  font-size: 1.8em;
  border-radius: 10%;
  margin:0% 0% 2% 0% ;
  padding-top: 1%;
  
  }



  div{
  padding-left: 1%;
padding-right:2% ;
padding-left: 2%;

}

label{
  font-weight:bold;
}

.Pname,.Pmenue,.Pdescription ,.btn
{
  font-size: 1.5em;
  font-weight: 400;

}

.Pname input{
  width: 70%;
  height: 50%;
  border-radius: 4%;
  border-style: none;
padding: 2%;
align-self: center;
border:1.5px solid rgb(187, 163, 120);

}
.Plogo{
  display: flex;
  font-size: 1.4em;
  justify-content:flex-start;


}
.Plogo input{
  padding:0% 3%;
}

.Pmenue{
  font-size: 1.5em;
}

.Pmenue select{
  display: inline-block;
  font-size: 500;
  text-align: center;
  padding:0% 3%;
  background-color: rgb(210, 186, 140);
  border-style: none;
  padding:1%;
border-radius: 5%;
border:1.5px solid rgb(187, 163, 120);
}

.btn{
align-self: center;
  width: 20%; 
  margin-bottom: 1.5%;
  background-color: rgb(210, 186, 140);
  border-style: none;
border-radius: 25%;
border:1.5px solid rgb(187, 163, 120);
}

.Pdescription{
  
  align-self: center;
}

[placeholder ]{
  padding-top:2px ;
text-align: center;
font-size: 1em;
font-weight: 300;
background-color:whitesmoke;
border-style: none;
border:1.5px solid rgb(187, 163, 120);


}




